@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver
@inject NavigationManager nav

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name=@AllResourcesResolver["navbar_inicio"]
             @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_inicio"]))>@AllResourcesResolver["navbar_inicio"] </Tab>

        <Tab Name=@AllResourcesResolver["navbar_intereses"] @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_intereses"]))>@AllResourcesResolver["navbar_intereses"]</Tab>
        <Tab Name=@AllResourcesResolver["navbar_experiencia"] @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_experiencia"]))>@AllResourcesResolver["navbar_experiencia"]</Tab>
        <Tab Name=@AllResourcesResolver["navbar_educacion"] @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_educacion"]))>@AllResourcesResolver["navbar_educacion"]</Tab>
        <Tab Name=@AllResourcesResolver["navbar_tecnologias"] @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_tecnologias"]))>@AllResourcesResolver["navbar_tecnologias"]</Tab>
        <Tab Name=@AllResourcesResolver["navbar_cursos"] @onclick=@(()=> nav.NavigateTo(AllResourcesResolver["navbar_cursos"]))>@AllResourcesResolver["navbar_cursos"]</Tab>
    </Items>
</Tabs>



<Tooltip Text=@AllResourcesResolver["info"]>
    <Button Clicked=ShowRenderFragment @onclick=ShowRenderFragment>
        <Icon Name=IconName.InfoCircle Color=Color.Primary />
    </Button>
</Tooltip>


@code {
    string selectedTab = string.Empty;

    protected override void OnInitialized()
    {
        selectedTab = AllResourcesResolver["navbar_inicio"];
    }

    private Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;
        return Task.CompletedTask;
    }


    [Inject] public IModalService ModalService { get; set; }

    public Task ShowRenderFragment()
    => ModalService.Show<SharedSection>(AllResourcesResolver["Bienvenidx"], x =>
    {
        x.Add(x => x.SrcImagen, AllResourcesResolver["assets/img/profile.jpg"]);
        x.Add(x => x.Titulo, AllResourcesResolver["HelloWorld"]);
        x.Add(x => x.Subtitulo, AllResourcesResolver["Bienvenido"]);
        x.Add(x => x.Description, AllResourcesResolver["ConstruidoCon"].ToString().StringToRenderFragament());


    });



}