@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver
@inject NavigationManager nav


<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">

    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Héctor Solar Ruiz</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile" style="border:none;" src="assets/img/profile.jpg" alt="..." /></span>

    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_inicio"]"> @AllResourcesResolver["navbar_inicio"] </a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_intereses"]"> @AllResourcesResolver["navbar_intereses"] </a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_experiencia"]">@AllResourcesResolver["navbar_experiencia"]</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_educacion"]">@AllResourcesResolver["navbar_educacion"]</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_tecnologias"]">@AllResourcesResolver["navbar_tecnologias"]</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@AllResourcesResolver["navbar_cursos"]">@AllResourcesResolver["navbar_cursos"]</a></li>
        </ul>

    </div>
</nav>


<style>
    #sideNav .navbar-nav .nav-item .nav-link {
        font-weight: 100;
        letter-spacing: 0.01rem;
        text-transform: capitalize;
        font-family: Fantasy, Papyrus, serif;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }



    .nav-item:hover {
        background-color: lightslategrey;
    }

    .navbar-light .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
    }

        .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
            color: rgba(0, 0, 0, 0.9);
        }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.55);
    }

        .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
            color: rgba(0, 0, 0, 0.7);
        }

        .navbar-light .navbar-nav .nav-link.disabled {
            color: rgba(0, 0, 0, 0.3);
        }

        .navbar-light .navbar-nav .show > .nav-link,
        .navbar-light .navbar-nav .nav-link.active {
            color: rgba(0, 0, 0, 0.9);
        }

    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.55);
        border-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-light .navbar-text {
        color: rgba(0, 0, 0, 0.55);
    }

        .navbar-light .navbar-text a,
        .navbar-light .navbar-text a:hover,
        .navbar-light .navbar-text a:focus {
            color: rgba(0, 0, 0, 0.9);
        }

    .navbar-dark .navbar-brand {
        color: #fff;
    }

        .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
            color: #fff;
        }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }

        .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
            color: rgba(255, 255, 255, 0.75);
        }

        .navbar-dark .navbar-nav .nav-link.disabled {
            color: rgba(255, 255, 255, 0.25);
        }

        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .nav-link.active {
            color: #fff;
        }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-dark .navbar-text {
        color: rgba(255, 255, 255, 0.55);
    }

        .navbar-dark .navbar-text a,
        .navbar-dark .navbar-text a:hover,
        .navbar-dark .navbar-text a:focus {
            color: #fff;
        }



</style>