@using CV.Shared.Resources;

<RadzenCard class="mb-2">
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">

        @if (SrcImagen != null && SrcImagen != String.Empty)
        {
            <img height="200" width="200" src="@SrcImagen" alt=@AltImagen>
        }
        <div class="flex-grow-1" style="margin-left: 20px;">
            <h3 class="mb-0">@Titulo</h3>
            <div class="subheading mb-3"> @Subtitulo</div>
            @if (Badges != null && Badges.Count > 0)
            {
                <hr />

                @foreach (var badge in Badges)
                {

                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="@badge" />

                }
                <hr />
            }


            @Description
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@TiempoTrabajo</span></div>


    </div>
</RadzenCard>

@code {
    [Parameter] public String SrcImagen { get; set; }
    [Parameter] public String AltImagen { get; set; }
    [Parameter] public RenderFragment Description { get; set; }
    [Parameter] public String TiempoTrabajo { get; set; }
    [Parameter] public String Subtitulo { get; set; }
    [Parameter] public String Titulo { get; set; }
    [Parameter] public List<String> Badges { get; set; }

}
